::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #fff; 
    border-radius: 10px;

}
::-webkit-scrollbar-thumb {
    background: #666; 
    border-radius: 10px;

}
::-webkit-scrollbar-thumb:hover {
    background: var(--black-color); 
}
input[readonly] {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: text;
    outline: none;
}
.box {
    display: none;
}
.btn {
    padding: 2px!important;
}
.item:hover {
    transform: translateY(-2px);
}
.see-all > span, .see-all > i { 
    color: rgb(31, 132, 90);
}
.see-all:hover {
    transition: all 0.5s ease;
    background-color: rgb(31, 132, 90);
}
.see-all:hover > span, .see-all:hover > i {
    color: white;
}
.cart-item:hover {
    background-color: #dffcf0;
}
.hover:hover {
    opacity: 0.9;
}
#nav-btn.active div, #nav-btn.active i {
    color: #fff;
    border-color: #fff!important;
}
.nav-item:hover, .nav-item:hover i, .nav-item li:hover{
    color: rgb(31, 132, 90)!important;
    transform: translateX(1px);
}
.nav-item:hover > ul {
    display: block;
}
.account-box {
    display: none;
}
.account-box:hover, .account-btn:hover + .account-box {
    display: block;
}
.test:hover .ul {
    display: block;
}
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
}
#phone {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#phone span {
    display: none;
    opacity: 0;
}
#phone:hover {
    width: auto;
    border-radius: 26px;
}
#phone:hover span {
    display: inline-block;
    opacity: 1;
}
#messenger {
    position: fixed;
    bottom: 160px;
    right: 20px;
    width: 50px;
    height: 50px;
}
.banner {
    transition: all 1s ease;
    width: calc(100% - 16px);
    margin-left: 8px;
    aspect-ratio: 4 / 1;
    object-fit: fill;
}
#none {
    background: linear-gradient(0.25turn, rgba(255,255,255,0), rgba(0,0,0,1)) , url("../img/Untitled.png");
}
#pay {
    background: linear-gradient(0.25turn, rgba(255,255,255,0), rgba(0,0,0,1)) , url("../img/Untitled.png");
}
@keyframes log {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
#none > div {
    /* animation: log 0.5s; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle-password .eye {
    display: none;
}
.toggle-password .eye-slash {
    display: block;
}
.toggle-password.show-password .eye {
    display: block;
}
.toggle-password.show-password .eye-slash {
    display: none;
}
#email + .active {
    color: rgb(31, 132, 90);
}
.option > .active {
    background-color: rgb(31, 132, 90);
    color: #fff;
    transition: background-color 0.5s ease-in-out
}
.page-number .page > p {
    background-color: #e4e4e4;
    color: #444;
}
.page-number .active > p {
    background-color: rgb(31, 132, 90)!important;
    color: #fff!important;
}
#range.noUi-horizontal {
    height: 5px;
}
#range .noUi-connect {
    background: rgb(31, 132, 90); 
    height: 5px; 

}
#range .noUi-handle {
    width: 12px; 
    height: 12px; 
    border-radius: 50%; 
    border: none;
    box-shadow: none;
    left: -7px;
    top: -4px;
    background: rgb(31, 132, 90); 
    cursor: pointer; 
}
#range .noUi-handle::after {
    content: none;
}
#range .noUi-handle::before {
    content: none;
}
#range .noUi-base {
    background: #e4e4e4; 
    height: 5px;
}
#range .noUi-tooltip {
    bottom: -22px;
    font-size: 10px;
    color: #444;
    background-color: transparent;
    border: none;
}
input[type="checkbox"], input[type="radio"] {
    accent-color:rgb(31,132,90);
    width: 16px;
    height: 16px;
}
#sidebar .active, #sidebar .active i {
    color: rgb(31,132,90)!important;
}
#sidebarAdmin .active i, #sidebarAdmin li:hover i {
    color: #fff!important;
}
.order-status .active {
    color: rgb(31,132,90);
    border-color: rgb(31, 132, 90)!important;
}
form#order .unactive {
    background-color: #bbbbbb!important;
    color: #666!important;
    cursor: not-allowed;
}
.paymethod.active {
    border-color: rgb(31, 132, 90)!important;
    border-width: 3px!important;
}
.paymethod.active label {
    color: rgb(31, 132, 90)!important;
    font-weight: 600;
}
input:read-only {
    color: #666;
    background-color: #e6e6f4;
    cursor: default;
}
.order-page select:read-only {
    color: #666;
    background-color: #e6e6f4;
    cursor: default;
    pointer-events: none;
}
.confirm-dialog {
    position: fixed;
    top: 0;
    display: none;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999999;
}
.confirm-dialog .dialog {
    width: 400px;
    padding: 20px 20px 70px;
    margin: 200px auto;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}
.confirm-dialog .fa-xmark {
    position: absolute;
    font-size: 24px;
    color: #c4c5c7;
    cursor: pointer;
    transition: all .5s ease;
    padding: 6px 10px;
    right: 0;
    top: 0;
}
.confirm-dialog .fa-xmark:hover {
    color: rgb(200, 0, 0);
}
.btn-yes {
    background-color: rgb(31, 132, 90);
    font-weight: 600;
    color: #fff;
    padding: 6px 10px;
}
.image-container {
    width: 120px;
    height: 120px;
    margin-right: 10px;
    position: relative;
}
.image-container label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 2px dashed gray ;
}
.image-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}
